Package: com.kayfam.appselector
Name: AppSelector
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Version: 1.0.7
Architecture: iphoneos-arm
Description: Hide that ugly App Drawer and make return to the olden days when opening your photos didn't take so many presses! If you want to use another app, simply press the button with a little force and the App Drawer will be presented to you. When you select an app, that will become the new app that is opened when you press the button.
Maintainer: KayFam
Author: KayFam
Section: Tweaks
